:root {
   --main-color: #282a2a;
   --secondary-color: #f46197;
   --shadow-color: rgba(0, 0, 0, 0.2);
   --hover-shadow-color: rgba(0, 0, 0, 0.4);
}

ion-app {
   --ion-background-color: #ffffff;
   --ion-item-background: #282a2a;
   --ion-item-background-color: #282a2a;
}

html,
body {
   --ion-dynamic-font: var(--ion-default-dynamic-font);
   --ion-font-family: Poppins, sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   background-color: var(--main-color);
   height: 100%;
}

.vhome-requests-card {
   padding: 16px;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vhome-host-container {
   display: flex;
   align-items: center;
}

.vhome-host-img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: 10px;
}

.vhome-host-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.vhome-host-name {
   font-size: 14px;
   color: #fff;
   margin-bottom: 5px;
   margin-left: 10px;
}

.vhome-event-poster-container {
   margin-bottom: 10px;
   overflow: hidden;
   border-radius: 12px;
}

.vhome-event-poster {
   width: 100%;
   height: 200px;
   object-fit: contain;
   border-radius: 12px;
   transition: transform 0.3s ease;
}

.vhome-buttons-container {
   display: flex;
   justify-content: center;
   gap: 50px;
   margin-top: 20px;
}

.vhome-buttons-container .vaccept-btn {
   --ion-color-primary: var(--secondary-color);
}

.vhome-buttons-container .vdecline-btn {
   --ion-color-primary: #d6d4d4;
   --background-hover: #2a2a2a;
}

.vhome-requests-card .vhome-event-title {
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   margin-top: 10px;
}

.vhome-requests-card .vhome-event-details {
   margin-top: 5px;
}

.vhome-event-poster-modal {
   width: 100%;
   height: 100%;
   object-fit: contain;
}