:root {
   --main-color: #282a2a;
   --secondary-color: #f46197;
   --shadow-color: rgba(0, 0, 0, 0.2);
   --hover-shadow-color: rgba(0, 0, 0, 0.4);
}

ion-app {
   --ion-background-color: #ffffff;
   --ion-item-background: #282a2a;
   --ion-item-background-color: #282a2a;
}

html,
body {
   --ion-dynamic-font: var(--ion-default-dynamic-font);
   --ion-font-family: Poppins, sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   background-color: var(--main-color);
   height: 100%;
}

.hhome-logocontainer {
   max-width: 50%;
   margin: 20px auto;
   border-radius: 50%;
   overflow: hidden;
   --ion-text-color: #fff;
   --ion-background-color: var(--main-color);
}

.hhome-userinfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

.hhome-username {
   color: #fff;
   font-size: 1.2rem;
   margin-top: 10px;
   margin-bottom: 20px;
   display: block;
   font-family: "Roboto", sans-serif;
   font-weight: bold;
   letter-spacing: 1px;
   text-transform: uppercase;
   opacity: 0.8;
}

.hhome-editprofile {
   color: #fff;
   background-color: var(--main-color);
   font-size: 0.9rem;
   font-weight: 600;
   border: 2px solid #fff;
   border-radius: 20px;
   padding: 8px 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hhome-editprofile ion-icon {
   margin-right: 8px;
}

.hhome-editprofile:hover {
   background-color: #fff;
   color: #f46197;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hhome-menu-header {
   background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
   box-shadow: 0px 3px 8px var(--shadow-color);
}

.hhome-menu-content {
   --ion-background-color: #282a2a;
   background-color: var(--ion-background-color);
   display: flex;
   flex-direction: column;
}

.hhome-menu-item,
.hhome-logout {
   --color: #fff;
   --highlight-color: #f46197;
   transition: background-color 0.3s ease-in-out;
   display: flex;
   justify-content: center;
   padding: 8px;
   cursor: pointer;
   position: relative;
}

.hhome-menu-item {
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hhome-menu-item:last-child {
   border-bottom: none;
}

.hhome-menu-item:hover,
.hhome-menu-item.activated,
.hhome-logout:hover {
   --ion-item-background: #ffff;
}

.hhome-menu-item ion-label,
.hhome-logout ion-label {
   font-size: 1.3rem !important;
   letter-spacing: 0.5px;
   color: var(--color);
   transition: color 0.3s ease-in-out;
   user-select: none;
}

.hhome-menu-item:hover ion-label,
.hhome-menu-item.activated ion-label,
.hhome-logout:hover ion-label {
   color: var(--highlight-color);
   font-weight: bold;
}

.hhome-menu-icon {
   color: #fff;
   margin-right: 20px;
}

.hhome-menu-item:hover .hhome-menu-icon {
   color: #000;
}

.hhome-logout {
   margin-top: 110px;
}

.hhome-logout ion-icon {
   margin-right: 20px;
}

.hhome-logout::before {
   content: "";
   height: 1px;
   width: calc(100% - 16px);
   background-color: rgba(255, 255, 255, 0.2);
   position: absolute;
   top: 0;
   left: 8px;
}

.hhome-cards-container {
   display: flex;
   justify-content: space-between;
   margin: 0 -10px;
   margin-left: 20px;
   margin-right: 20px;/
}

.hhome-event-card {
   width: 30%;
   background-color: var(--main-color);
   padding: 20px;
   border-radius: 15px;
   box-shadow: 14px 14px 28px #b5b5b5,
      -14px -14px 28px #ffffff;
   margin: 20px 10px;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* text-align: center; */
   max-width: 450px;
   max-height: 800px;
   align-items: stretch;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   overflow: hidden;
}

.hhome-event-card:hover {
   transform: scale(1.05);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.hhome-event-image {
   width: 100%;
   height: 100%;
   object-fit: contain;
   border-radius: 8px;
   margin-bottom: 20px;
   transition: transform 0.3s ease-in-out;
}

.hhome-event-card:hover .hhome-event-image {
   transform: scale(1.1);
}

.hhome-event-title {
   display: flex;
   flex-direction: column;
   height: 80px;
   font-weight: bold;
   overflow: hidden;
}

.hhome-event-card ion-label {
   font-size: 1.5rem;
   font-weight: bold;
   caret-color: transparent;
   margin-bottom: 10px;
   flex-grow: 1;
}

.hhome-event-card ion-label h2 {
   font-size: 1.2rem;
   font-weight: bold;
   margin-bottom: -10px;
}

.hhome-event-details {
   margin-top: 10px;
}

.hhome-event-details p {
   color: #eae1e1;
   margin: 5px 0;
   font-size: 1rem;
   text-align: left;
}

.hhome-event-details p span {
   color: #f46197;
   font-weight: bold;
   margin-right: 5px;
}

.hhome-card-icons {
   margin-right: 5px;
   color: #f46197;
}


@media (max-width: 768px) {
   .hhome-cards-container {
      flex-direction: column;
      align-items: center;
      margin: 0;
   }

   .hhome-event-card {
      width: 90%;
      max-height: 250px;
      margin: 20px 0;
      flex-direction: row;
      display: flex;
      align-items: center;
   }

   .hhome-event-image {
      max-width: 100px;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 0 0 8px;
      margin-bottom: 0;
   }

   .hhome-event-card ion-label,
   .hhome-event-details {
      text-align: left;
      margin-left: 10px;
   }

   .hhome-event-card ion-label h2 {
      font-size: 1rem;
   }

   .hhome-event-title {
      height: 90px;
      overflow: hidden;
   }

   .hhome-event-details p,
   .hhome-event-details p span {
      font-size: 0.8rem;
   }
}