:root {
   --main-color: #282a2a;
   --secondary-color: #f46197;
   --shadow-color: rgba(0, 0, 0, 0.2);
   --hover-shadow-color: rgba(0, 0, 0, 0.4);
}

html,
body {
   margin: 0;
   padding: 0;
   text-decoration: none;
   background-color: var(--main-color);
   font-family: "Poppins", sans-serif;
   height: 100%;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.psignin-container {
   display: flex;
   height: 100%;
   overflow-y: auto;
}

.left-section {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   background-color: white;
}

.right-section {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #282a2a;
   z-index: 2;
}

.psignin-img {
   max-width: 100%;
   max-height: 100%;
}

.psignin-card {
   /* position: absolute; */
   /* top: 50%;
   left: 50%; */
   /* transform: translate(-50%, -50%); */
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 400px;
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
   margin: auto;
   border-radius: 10px;
   box-shadow: 0 10px 20px var(--shadow-color);
   transition: box-shadow 0.3s ease;
}

.psignin-card:hover {
   box-shadow: 0 20px 40px var(--hover-shadow-color);
}

.psignin-heading {
   font-size: 26px;
   font-weight: 600;
   color: white;
   margin-bottom: 10px;
   caret-color: transparent;
}

.logo-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
   margin: auto;
   margin-bottom: 20px;
   border: 2px solid white;
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 24px 48px rgba(0, 0, 0, 0.4);
}

.psignin-logo {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
}

.psignin-subheading1 {
   font-size: 20px;
   font-weight: normal;
   color: white;
   margin-top: 5px;
}

.psignin-subheading2 {
   font-size: 20px;
   font-weight: normal;
   color: white;
   margin-top: 5px;
   margin-bottom: 5px;
}

.psignin-input {
   --highlight-color: var(--secondary-color);
   --padding-start: 10px;
   border: 2px solid var(--main-color);
   border-radius: 8px;
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   margin-bottom: 15px;
   transition: border-color 0.3s ease;
}

.psignin-input::placeholder {
   color: #ccc;
}

.psignin-input:hover,
.psignin-input:focus {
   border-color: var(--secondary-color);
   background-color: rgba(255, 255, 255, 0.2);
}

.psignin-prompt {
   display: block;
   margin: 0;
   padding: 0;
   caret-color: transparent;
}

.psignin-prompt p {
   font-size: 15px;
   font-weight: 600;
   color: white;
   margin: 20px 0;
}

.psignin-prompt a {
   text-decoration: none;
   color: var(--secondary-color);
}

.psignin-loginbtn {
   background-color: var(--secondary-color) !important;
   color: white !important;
   --background: var(--secondary-color) !important;
   --border-color: var(--secondary-color) !important;
   --box-shadow: none !important;
   margin-top: 10px;
   border-radius: 10px;
   padding: 5px;
   cursor: pointer;
}

@media screen and (max-width: 600px) {
   .psignin-container {
      flex-direction: column;
   }

   .left-section,
   .right-section {
      width: 100%;
   }

   .psignin-card {
      max-width: 100%;
      padding: 10px;
   }

   .psignin-img {
      max-width: 30%;
      width: 100%;
   }

   .psignin-heading {
      font-size: 20px;
   }

   .psignin-subheading1 {
      font-size: 16px;
   }

   .psignin-subheading2 {
      font-size: 16px;
   }

   .psignin-prompt p {
      font-size: 14px;
      margin: 10px 0;
   }

   .psignin-loginbtn {
      padding: 10px;
   }
}