.content-center {
  background-color: #ae2f5e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20000px;
}

.h-full {
  height: 100vh;
}

.item-color {
  --ion-item-background: none;
  --inner-border-width: 0;
  --color: black;
}
.item-color-dark {
  --ion-item-background: none;
  --inner-border-width: 0;
  --color: black;
  color: black;
}
.item-color-light {
  --ion-item-background: none;
  --inner-border-width: 0;
  --color: white;
  color: white;
}
.item-color:hover {
  --color: var(--tertiary--color);
}

.bg-color-main {
  background-color: var(--main--color);
  color: black;
  --color: black;
}
.bg-color-secondary {
  background-color: var(--seccondary--color);
  color: black;
  --color: black;
}
.bg-color-tertiary {
  background-color: var(--tertiary--color);
  color: white;
  --color: white;
}
.bg-color-success {
  background-color: var(--ion-color-success);
  --ion-item-background: var(--ion-color-success);
  color: white;
  --color: white;
}
.bg-color-danger {
  background-color: var(--ion-color-danger);
  --ion-item-background: var(--ion-color-danger);
}

.text-color-rgb {
  color: var(--text-color-rgb);
}
.text-color-dark {
  color: var(--text-color-dark);
}
.text-color-light {
  color: var(--text-color-light);
}
.text-color-success {
  color: var(--ion-color-success);
  --color: var(--ion-color-success);
}
.text-color-danger {
  color: var(--iom-color-danger);
  --color: var(--ion-color-danger);
}

/* Width */
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Bottom */
.btn-primary {
  --background: var(--tertiary--color);
  /* --ion-color-primary: var(--secondary-color); */
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: #ae2f5e;
  }
}

.btn-secondary {
  --ion-color-primary: var(--secondary-color);
  background-color: #ffff;
  position: absolute;
  color: var(--main-color);
  border: var(--secondary-color) 2px solid;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}

/* Nav Menu */
.container-space-between {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.flex {
  flex: 1;
}

.position-btm {
  margin-top: 0;
  /* height: 100%; */
}
/* Side Panel */

.side-pane {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

ion-thumbnail {
  /* --size: 140px; */
  --border-radius: 14px;
}

/* Cards */

.card {
  --ion-card-background: #ffff;
  /* cursor: pointer; */
  /* max-width: 90vw; */
  /* width: 100%; */
  /* position: relative; */
  border-radius: 20px;
  padding: 30px;
  color: black;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  margin-top: 20px;

  &:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px var(--hover-shadow-color);
  }
}

@media (min-width: 320px) and (max-width: 1150px) {
  .side-pane {
    display: none;
  }

  .f-size-auto {
    font-size: calc(0.5rem + 0.5vw);
  }

  .hide-element {
    display: none;
  }
}
